.pop-up {
    position: absolute;
    background-color: var(--gray-light);
    margin: 50px 45vw;
    width: 10vw;
    border: 5px solid var(--gray-light);
    border-radius: 5px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.close-pop {
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}